.business {
  position: relative;
  will-change: transform;

  &-left {
	float: left;
  }
  
  &-card {
	display: inline-block;
    cursor: pointer;
    background-color: #fff;
    width: 90%;
	max-width: 350px;
	height: auto;
    max-height: 160px;
    padding: 20px;
    margin: 5px 2.5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-company {
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
  }

  &-profile-pic {
    width: 125px;
    height: auto;
    margin: 0px auto 0;
    object-fit: cover;
  }
  
  &-right {
	float: inherit;
	margin: 10px 0px 0px;
  }

  &-name,
  &-job-title,
  &-desc {
    transition: color 0.3s ease-out;
    text-align: right;
  }

  &-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  &-job-team {
    margin: 8px auto 0;
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
  }

  &-job-title {
    margin: 8px auto 0;
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }

  &-desc {
    margin: 15px 0px 0px;
    font-size: 14px;
    color: #555;
  }

  &-card:hover .business-name,
  &-card:hover .business-job-title,
  &-card:hover .business-desc {
    color: black;
  }
}
