.Icon {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  margin: 0px 0.5em 0px 0px;
  border-radius: 20%;
  background-color: white;
  vertical-align: text-bottom;
  
  &-mini {
	  display: inline-block;
	  width: 1.5rem;
	  height: 1.5rem;
	  margin: 0px 0.5em 0px 0px;
	  border-radius: 20%;
	  background-color: white;
	  vertical-align: text-bottom;
  }
}
