.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    text-shadow: 0 1px 2px #3f3f3f;
    font-family: $sans-serif;
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }
	&-thumbnail{
	    position: relative; /* 상대 위치 지정 */
		float: left;
		width: 300px;
	}
	&-board{
		float: left;
		width: 360px;
		margin-left: 2em;
	}

	a {
	  color: #0040ff;
	  text-decoration: underline;
	  font-style: italic;
	}
}

@media (max-width: 806px) {
	.post {
		&-thumbnail{
			float: none;
			width: 100%;
			display: flex;
			justify-content: center;
		}
		&-board{
			float: none;
			width: 100%;
			margin-left: 0em;
		}
	}
}