<!DOCTYPE html>
<html lang="ko">

  {% include head.html %}

  <body>
  <img src="{{ site.baseurl }}/assets/img/xIcon.png" alt="logout" id="logoutButton">
  <!-- 블럭 -->
    <div id="blocker"></div>
  <!-- 블럭 -->
  
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a class="tabButton" href="{{ '/' | prepend: site.baseurl }}">About</a></li>
          <li><a class="tabButton" href="{{ '/resume' | prepend: site.baseurl }}/">Resume</a></li>
          <li><a class="tabButton" href="{{ '/portfolio' | prepend: site.baseurl }}/">Portfolio</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.
      </span>
    </footer>
	
  <!-- 모달 -->
	<div id="myModal" class="modal" onclick="toggleModal()">
		<div class="modal-content" id="modalContent">
		  <img id="modalImage" class="popup-image">
		</div>
	</div>
  <!-- 모달 -->
  
  </body>
</html>
