---
layout: base 
---

<div class="career">
  <div class="profile">
    <div class="info">
	  <br/>
      <div class="title">경력 기술서</div>
      <div class="description">{{ site.author.name_en }}</div>
	  <br/>
      <div class="description">"반갑습니다. {{ site.author.job }} <b class="color-box-green">{{ site.author.name_ko }}</b>입니다."</div>
	  <br/>
    </div>
  </div>

  <div class="content">
    {{ content }}
    </br>
    <div class="social-layer">
      <div class="social-icons">
        <ul>
          {% include icons.html %}
        </ul>
      </div>
    </div>
  </div>
</div>