.pagination {
  border-top: .5px solid $grey-2;
  font-family: $sans-serif;
  padding-top: 2rem;
  position: relative;
  text-align: center;

  .page-number {
    @include transition(all .3s ease-out);
    color: $default-color;
    font-size: 0.9rem;
    position: relative; /* 변경된 부분 */

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .current-page {
    font-weight: bold; /* 변경된 부분 */
  }

  .top {
    @include transition(all .3s ease-out);
    color: $default-color;
    font-size: 1.1rem;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .prev, .next {
    @include transition(all .3s ease-out);
    color: $default-color;
    font-size: 0.9rem;
    position: relative; /* 변경된 부분 */

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}

.spacer {
  margin: 0 10px; // 원하는 간격으로 조정
  display: inline-block; // 공백을 화면에 표시하기 위해
}
